<div class=related><p>Related conversations on <a href='https://github.com/w3c/machine-learning-workshop/issues'>GitHub</a>:</p><ul><li><a href='https://github.com/w3c/machine-learning-workshop/issues/62'>#62 Applicability to non-browser JS environments</a></li>
<li><a href='https://github.com/w3c/machine-learning-workshop/issues/72'>#72 Permission model for Machine Learning APIs</a></li>
<li><a href='https://github.com/w3c/machine-learning-workshop/issues/73'>#73 JS Operator overloading for Machine Learning</a></li>
<li><a href='https://github.com/w3c/machine-learning-workshop/issues/74'>#74 ML Model format</a></li>
<li><a href='https://github.com/w3c/machine-learning-workshop/issues/82'>#82 In-browser training</a></li></ul></div>