---
title: W3C Web 和机器学习研讨会暂定话题
layout: subpage_zh
---
    <main id="main" class="main">
     <p><a href="./#program">研讨会委员会</a>确定了以下演讲者和演讲，作为2020年9月的现场讨论的话题。</p>

     <p id="interpreter-intruction">本次机器学习研讨会线上讨论环节将会为参会者提供中文和英文的同声传译，我们将聘请专业的传译员为大家提供同声传译服务，同声传译使用方式请参考<a href="https://www.w3.org/wiki/Machine-learning-workshop/interpreter">机器学习研讨会同声传译工具</a>。</p>
  <section id=opp>
    <h3>基于浏览器的机器学习的机遇和挑战</h3>
    <p>目标：确定基于浏览器的机器的机会是什么，被采用的障碍是什么</p>
    {% include talk-list1_zh.html %}
  </section>
  <section id=foundations>
    <h3>机器学习的 Web 平台基础</h3>
    <p>目标：理解机器学习如何适应 Web 技术栈</p>
    {% include talk-list2_zh.html %}
  </section>
  <section id=dev>
    <h3> Web 上的机器学习体验:开发者的视角</h3>
    <p>目标：在Web上编写机器学习的经验；在Web上重用现有机器学习模型的挑战和机遇；设备端模型学习，已知技术解决方案，差距</p>
    {% include talk-list3_zh.html %}
  </section>
  <section id=user>
    <h3>Web 上的机器学习体验：用户的视角</h3>
    <p>目标：面向所有人的Web端机器学习：教育、学习、无障碍、跨行业体验、跨学科机器学习：音乐、艺术和媒体满足机器学习；跨行业分享学习经验和最佳实践</p>
    {% include talk-list4_zh.html %}
  </section>
    </main>
