---
title: Presentations
layout: subpage
---
<main>
  <p>The <a href="./#program">Program Committee</a> has identified the following speakers and presentations as input to the September 2020 live discussions.</p>

  <p>As you watch these videos, please contribute to the discussions emerging from the presentations in <a href="https://github.com/w3c/machine-learning-workshop/issues">our GitHub repository issues</a>, either by creating a new issue or commenting on an existing one.</p>
  
  <ol id=toc style="margin-left: 1.4rem;">
    <li><a href="#opp">Opportunities and Challenges of Browser-Based Machine Learning</a></li>
    <li><a href="#foundations">Web Platform Foundations for Machine Learning</a></li>
    <li><a href="#dev">Machine Learning Experiences on the Web: A <strong>Developer</strong>'s Perspective</a></li>
    <li><a href="#user">Machine Learning Experiences on the Web: A <strong>User</strong>'s Perspective</a></li>
  </ol>
  
  <section id=opp>
    <h3>Opportunities and Challenges of Browser-Based Machine Learning</h3>
    <p>Goal: Determine what are the unique opportunities of browser-based ML, what are the obstacles hindering adoption</p>
    {% include talk-list1.html %}
  </section>
  <section id=foundations>
    <h3>Web Platform Foundations for Machine Learning</h3>
    <p>Goal: Understand how machine learning fits into the Web technology stack</p>
    {% include talk-list2.html %}
  </section>
  <section id=dev>
    <h3>Machine Learning Experiences on the Web: A Developer's Perspective</h3>
    <p>Goal: Authoring ML experiences on the Web; challenges and opportunities of reusing existing ML models on the Web; on-device training, known technical solutions, gaps</p>
    {% include talk-list3.html %}
  </section>
  <section id=user>
    <h3>Machine Learning Experiences on the Web: A User's Perspective</h3>
    <p>Goal: Web & ML for all: education, learning, accessibility, cross-industry experiences, cross-disciplinary ML: music, art, and media meet ML; Share learnings and best practices across industries</p>
    {% include talk-list4.html %}
  </section>
</main>
