        <p class=buttons>
          {% if page.prevlink %}
          <a href="{{page.prevlink}}"
          class="nav picto im-arrow-left">Previous: {{page.prevtitle}}</a>
          {% endif %}
          <a href="{% if page.uplink %}{{page.uplink}}{% else %}../presentations.html{% endif %}" class="picto im-data nav"
          >{% if page.uplink %}{{page.uptitle}}{% else %}All talks{% endif %}</a>
          {% if page.nextlink %}
          <a class=nav href="{{page.nextlink}}">Next:
          {{page.nexttitle}}<span
                         class="picto im-arrow-right"></span></a>
          {% endif %}
        </p>
