        <p class=buttons>
          {% if page.prevlink %}
          <button type=submit form=form formaction="{{page.prevlink}}"
          class="nav picto im-arrow-left">Previous: {{page.prevtitle}}</button>
          {% endif %}
          <a href="../presentations.html" class="picto im-data nav"
          >All talks</a>
          {% if page.nextlink %}
          <button class=nav type=submit form=form formaction="{{page.nextlink}}">Next:
          {{page.nexttitle}}<span
                         class="picto im-arrow-right"></span></button>
          {% endif %}
        </p>
