<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>
      {{ page.title }} - W3C Workshop on Web and Machine Learning
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ page.base }}style.css">
    <meta name="twitter:site" content="@w3c">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:title" content=
    "{{page.title}}">
    <meta property="og:description" content=
    "Bringing together experts to enrich the Open Web Platform with better foundations for machine learning.">
    <meta property="og:image" content=
    "https://www.w3.org/2020/06/machine-learning-workshop/images/banner.png">
  </head>
  <body>
    <header class="header">
      <div id="logo">
        <a href="https://www.w3.org/"><img alt="W3C" src=
        "https://www.w3.org/Icons/w3c_home"></a> <span id=
        "translations"><a href="{{page.base }}index_zh.html"><span lang="zh-hans">简体中文</span></a> | <a href=
        "{{page.base }}index_ja.html"><span lang="ja">日本語</span></a></span>
      </div>
      <div id="top">
        <h1>
          W3C Workshop on Web and Machine Learning
        </h1>
        <h2>
          🌱 A virtual event with pre-recorded talks and interactive sessions
        </h2>
      </div>
      <nav class="menu" id="menu">
        <ul>
          {% for item in site.data.pages.pages %}
          {% assign absolute_url = "/" | append: item.url %}
          {% assign isThisPage = false %}
          {% if absolute_url == page.url %}
          {% assign isThisPage = true %}
          {% endif %}
          {% if absolute_url == "/index.html" and page.url == "/" %}
          {% assign isThisPage = true %}
          {% endif %}
        <li>
          <a {% if isThisPage %}class="active-tab" {% else %}href="{{page.base }}{{ item.url }}"{% endif %}>{{ item.title }}</a>
        </li>
        {% endfor %}
        </ul>
      </nav>
      <h2>{{title}}</h2>
    </header>
    {% include sponsors.html %}
    {{ content }}
    <footer class="footer" id="footer">
      <p>
        W3C is proud to be an open and inclusive organization, focused on
        productive discussions and actions. Our <a href=
        "https://www.w3.org/Consortium/cepc/">Code of Ethics and Professional
        Conduct</a> ensures that all voices can be heard.
      </p>
      <p>
        Questions? Contact Dominique Hazael-Massieux &lt;<a href=
        "mailto:dom@w3.org">dom@w3.org</a>&gt;.
      </p>
      <p>
        Suggestions for improving this workshop page, such as fixing typos or
        adding specific topics, can be made by opening a <a href=
        "https://github.com/w3c/machine-learning-workshop/">pull request on
        GitHub</a>, or by emailing Dominique Hazael-Massieux &lt;<a href=
        "mailto:dom@w3.org">dom@w3.org</a>&gt;.
      </p>
    </footer>
    <script src="{{page.base }}script.js">
    </script>
    <script src="{{page.base }}submit.js">
    </script>
  </body>
</html>
