<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>
      {{ page.title }}, by {{page.author}} {% if page.affiliation %} ({{page.affiliation}}) {% endif %}- Presentation at W3C Workshop on Web and Machine Learning
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="../presentation-viewer.css">
    <link rel="stylesheet" href="../tooltip.css">
    <meta name="twitter:site" content="@w3c">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:title" content=
    "{{page.title}}, by {{page.author}} {% if page.affiliation %} ({{page.affiliation}}) {% endif %}">
    <!-- TODO <meta property="og:description" content=
    ""> -->
    <meta property="og:image" content=
    "https://www.w3.org/2018/11/machine-learning-workshop/ml.jpg">
  </head>
  <body>
    <header class="header">
      <div id="logo">
        <a href="https://www.w3.org/"><img alt="W3C" src=
        "https://www.w3.org/Icons/w3c_home"></a>
      </div>
      <div id="top" class=small>
        <h1>
          W3C Workshop on Web and Machine Learning
        </h1>
      </div>
      <nav class="menu" id="menu">
        <ul>
          {% for item in site.data.pages.pages %}
          {% assign absolute_url = "/" | append: item.url %}
        <li>
          <a {% if "presentations.html" == item.url %}class="active-tab" {% endif %}href="../{{ item.url }}">{{ item.title }}</a>
        </li>
        {% endfor %}
        </ul>
      </nav>
      <h2>{{page.title}} - by {{page.author}}{% if page.affiliation %} ({{page.affiliation}}) {% endif %}</h2>
        {% include horizontal-nav.html %}
    </header>
    {% assign shortname = page.shortname %}
    {% assign path = "../" %}
    <main>
    <details>
          <summary>Keyboard shortcuts in the video player</summary>
          <ul>
            <li>Play/pause: <kbd>space</kbd>
            </li><li>Increase volume: <kbd>up arrow</kbd>
            </li><li>Decrease volume: <kbd>down arrow</kbd>
            </li><li>Seek forward: <kbd>right arrow</kbd>
            </li><li>Seek backward: <kbd>left arrow</kbd>
            </li><li>Captions on/off: <kbd>C</kbd>
            </li><li>Fullscreen on/off: <kbd>F</kbd>
            </li><li>Mute/unmute: <kbd>M</kbd>
            </li><li>Seek percent: <kbd>0-9</kbd>
          </li></ul>
    </details>
    <form id="form">
        {% if page.slidesurl  %}
        <input type="checkbox" name="sync" id="sync"><label for="sync" class="button">Sync video and hide transcript
        <a href="https://www.w3.org/2020/05/AC/talk-help.html"  rel=help title="Help" class="picto im-question"></a></label>&nbsp;

        <a class="picto im-angle-up button" id="align" href="#align" title="Align to top of window"></a>&nbsp;
        <span id="prevnext" aria-label="Slide navigation controls" role="navigation">
          <a id="firstslide" href="#firstslide" title="First slide" class="button" role="button">1st</a>

          <a id="prevslide" href="#prevslide" class="picto im-arrow-left button" title="Previous slide" role="button"></a>

          <a id="nextslide" href="#nextslide" class="picto im-arrow-right button" title="Next slide" role="button"></a>
        </span>
            <p><a href="{{page.slidesurl}}">slideset</a></p>
       {% endif %}
        <div id="player">
      <script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "{{page.title}}",
  "description": "{{page.author}}’s presentation on “{{page.title}}” to the W3C Web and Machine Learning Workshop in Summer 2020.",
  "thumbnailUrl": "{{page.thumbnailurl}}",
  "uploadDate": "2020-08-17T13:00:00+02:00",
  "duration": "{{page.duration_so}}",
  "embedUrl": "{{page.videourl}}"}
</script>

          <div id="video1"><iframe id="video" title="video of ‘{{page.title}} by {{page.author}}" src="{{page.videourl}}" allow="accelerometer; autoplay; encrypted-media;
          picture-in-picture" allowfullscreen="" width="640" height="360" frameborder="0"></iframe></div>
        {% if page.slidesurl != "" %}
          <output id="slidenr" aria-live="polite"><a href="#start">Slide 1 of 40</a></output>
          
          <div id="slides" class="fade-in" role="region" aria-live="off" aria-label="Slide container">
            {% include transcripts/{{shortname}}.html %}

          </div><!-- id=slides -->
      <p id=caption>
        <output id=cue aria-live=off>
          <noscript>(Synchronization requires JavaScript)</noscript>
        </output>
      </p>
      {% else %}
      <h3>Transcript</h3>
      {% include transcripts/{{shortname}}.html %}
      {% endif  %}
        </div><!-- id=player -->
        {% include horizontal-nav.html %}
    </form>
    <div id="sponsors">
      <p>Thanks to Futurice for sponsoring the workshop!</p>
      <p><a href="https://www.futurice.com/"><img src="{{path}}images/futurice.png" alt="futurice" width=400></a></p>
    </div>

    <div id=lexicon></div>
    </main>
    <footer class="footer" id="footer">
      <p>
        W3C is proud to be an open and inclusive organization, focused on
        productive discussions and actions. Our <a href=
        "https://www.w3.org/Consortium/cepc/">Code of Ethics and Professional
        Conduct</a> ensures that all voices can be heard.
      </p>
      <p>
        Questions? Contact Dominique Hazael-Massieux &lt;<a href=
        "mailto:dom@w3.org">dom@w3.org</a>&gt;.
      </p>
      <p>
        Suggestions for improving this workshop page, such as fixing typos or
        adding specific topics, can be made by opening a <a href=
        "https://github.com/w3c/machine-learning-workshop/">pull request on
        GitHub</a>, or by emailing Dominique Hazael-Massieux &lt;<a href=
        "mailto:dom@w3.org">dom@w3.org</a>&gt;.
      </p>
    </footer>
    <script src="../script.js">
    </script>
    <script>
      var shortname = "{{shortname}}";
    </script>
    <script src="../webvtt-parser.js"></script>
    <!-- TODO: load only for PDF presentations -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.5.207/pdf.js"></script>
    <script src="../presentation-viewer.js"></script>
    <script src="../pdf-loader.js"></script>
    <script src="../tooltip.js"></script>
    <script src="../lexicon.js"></script>
  </body>
</html>
